/*
Theme Name: The Retailer Child Theme
Theme URI: http://theretailer.getbowtied.com/
Description: This is a child theme for The Retailer.
Author: Get Bowtied
Author URI: http: //www.getbowtied.com/
Template: theretailer
Version: 1.6
*/

@import url("../theretailer/style.css");

@font-face{
	font-family:'uknumberplateregular';
	src:url('js/uknumberplate.eot');
	src:url('js/uknumberplate.eot?#iefix') format('embedded-opentype'),
	url('js/uknumberplate.woff') format('woff'),
	url('js/uknumberplate.ttf') format('truetype'),
	url('js/uknumberplate.svg#uknumberplateregular') format('svg');font-weight:normal;font-style:normal
}
/****************************************************************/
/*************** ADD YOUR CUSTOM CSS IN THIS AREA ***************/
/****************************************************************/
.clear_20{
	height: 20px;
	clear: both;
}
.bottom_wrapper{
	font-size: 13px !important;
	border-top: none !important;
}

.bottom_wrapper a{
	color: #fff;
}
.gbtr_footer_widget_copyrights{
	float: left;
	text-align: left;
	color: #fff !important;
	text-transform: none !important;
}

.gbtr_footer_widget_credit_cards{
	text-align: right;
	color: #fff;
}

.gbtr_dark_footer_wrapper{
	background-color: #040708 !important;
}

.gbtr_dark_footer_wrapper .grid_3{
	width: 100% !important;
}

.gbtr_light_footer_no_widgets{
	background-color: #1a3f56 !important;
}

.gbtr_tools_wrapper{
	color: #fff !important;
	/*background-color:rgba(26,63,86,0.9) !important;*/
	background: none !important;
	height: 78px !important;
}
#h_call{
	font-size: 30px;
    padding-left: 30px;
}

.gbtr_tools_info{
	color: #fff !important;
    font-size: 25px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: none;
}

#global_wrapper{
	background: url(images/bg_page.png) top center no-repeat;
}
.home_class{
	background: url(images/bg_sheader.png) top center no-repeat !important;
}

.gbtr_header_wrapper{
	background-color:rgba(255,255,255,0.95) !important;
	padding-bottom: 11px !important;
	padding-top: 11px !important;
	height: 61px;
	border-bottom: 1px solid #fff;
}

.gbtr_first_menu_inside{
	border: none;
	margin-top: 12px;
}
.gbtr_first_menu ul{
	margin-right: -130px;
}
.sf-menu a, .sf-menu a:visited{
	font-size: 17px;
    font-weight: normal;
    text-transform: none;
}
/****************************************************************/
/****************************************************************/
/****************************************************************/

.woocommerce #content .quantity .minus, .woocommerce .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce-page .quantity .minus{
	float: left;
	position: relative;
}
ul.products{
	width: auto;
}
.listing_products{
	width: 860px;
}
.product_item_bottom{
	position: absolute;
	bottom: 40px;
	width: 100%;
}
.product_item{
	width: 44%;
	min-height: 470px;
}

.product_item h2{
	font-size: 23px;
    font-weight: normal;
    margin-bottom: 1em;
    line-height: 30px;
}
.product_item h2 a{
	color: #000;
}

.my_product_description{
	float: left;
	width: 45%;
}

.image_container{
	float: right;
}

.my_product_attribute_blue{
	padding: 10px 15px;
	background-color: #1f6086;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
}

#home_sheader{
	height: 620px;
	display: block;
	
}
.home_top{
	display: block;
	float: left;
	width: 469px;
	padding: 30px;
	height: 281px;
	margin-top: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	background: url(images/header_tyre_search.png) top right no-repeat rgb(0, 0, 0) transparent;   /* Fallback for web browsers that doesn't support RGBa */
	background: url(images/header_tyre_search.png) top right no-repeat rgba(0, 0, 0, 0.9);   /* RGBa with 0.6 opacity */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);  /* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";  /* For IE 8*/
}
#home_search_box{
	
}

#home_indep{
	width: 468px;
	background-image: none;
	margin-left: 30px;
}
#home_indep h1{
	color: #e4d100;
	font-size: 22px;
	line-height: 30px;
	font-weight: normal;
	margin-top: -25px;
}
#home_indep p {
	color: #fff;
	margin-top: 15px;
}
#home_indep p img{
	float: right;
	margin-top: -71px;
	margin-right: 30px;
}

.header_slogan{
	width: 80%; margin: 0 auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top: 50px;
	background: top right no-repeat rgb(0, 0, 0) transparent;   /* Fallback for web browsers that doesn't support RGBa */
	background: top right no-repeat rgba(0, 0, 0, 0.6);   /* RGBa with 0.6 opacity */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);  /* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";  /* For IE 8*/
	color: #fff;
	text-align: center;
	font-size: 24px;
	padding: 20px;
}
#home_search_box h1{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 0;	
}

#home_search_box p{
	margin: 10px 0;
	color: #fff;
	font-weight: bold;
}

#enter_your_reg{
	width: 220px;
	height: 47px;
	display: block;
	cursor: text;
	background: url(images/reg_checker_input.png) no-repeat;
	border: medium none;
    color: #000 !important;
    display: block;
    font-family: 'uknumberplateregular',impact,sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 47px;
    letter-spacing: -2px;
    line-height: 47px;
    outline: medium none;
    padding: 0 10px;
    text-align: center;
    width: 200px;
    text-transform: uppercase;
}
.header_right{
	float: left;
	display: block;
	width: 529px;
}

.content_about{
	width: 1100px !important;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
}
.content_about .grid_12{
	width: 1100px !important;
}
.content_about h1, .entry-content h1{
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 30px;
}
.content_about img, .content_block img{
	float: right;
	padding: 0 50px 0 150px;
}
.content_about p, .content_block p{
	font-size: 14px;
	line-height: 20px;
}

.content_about .content_grid_4, .content_block .content_grid_4{
	width: 280px !important;
	padding-left: 60px;
	background: url(images/quotes.png) top left no-repeat;
}

.content_about .content_grid_2, .content_block .content_grid_2{
	margin-right: 0 !important;
}

.entry-header{
	display: none;
}
.super_search{
	color: #fff;
	width: 100% !important;
}
.supersearch_submit{
	margin:7px;
}
.super_search1{
	width: 21%;
	float: left;
	padding-right: 20px;
}
.super_search1 select, .super_search2 select{
	width: 100% !important;
}

.super_search2{
	width: 40%;
	float: left;
}

.super_search2 #searchsubmit{
	background: none !important;
	background: url(images/search_tyres.png) center no-repeat !important;
	width: 189px !important;
	height: 33px !important;
	display: block !important;
	position: relative !important;
	background-position: 0 0;
}

.page-title{
	text-transform: none !important;
}
.important_note h2{
	font-size: 24px;
	font-weight: normal;
	margin: 20px 0 10px;
}
.important_note p{
	font-size: 14px;
}

#search_tyre_top1{
	width: 40%; float: left;
}
#search_tyre_top2{
	width: 40%; float: left;
	padding-left: 40px;
	display: none;
}

#vrm{
	margin: 10px 0;
	color: #666;
}
#b_invoke{
	margin-left: 15px;
}

.span_blue_bg, .span_no_bg{
	display: inline-block;
	background-color: #1f6086;
	padding: 10px 20px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	margin-right: 10px;
}

.span_no_bg{
	background: none;
	color: #000;
	padding: 10px;
}

#tyre_service_no_results, #ajax_loading{
	clear: both;
	padding-top: 10px;
	display: block;
	color: yellow;
}

.content_wrapper{
	width: 100%;
}

.content_block{
	clear: both;
	margin-top: 40px;
}

.doubleSlider-2 {
    height: 400px;
    overflow: hidden;
    width: 510px;
}

.doubleSlider-2 .slider{
	height: 100%;
}

.doubleSlider-2 .slider .item {
	position: relative;
	top: 0;
	left: 0;
	width: 510px;
	margin: 0;
}

.doubleSlider-2 .slider .item img {
	/*width:100% !important;*/
	width:inherit !important;
	max-width:510px !important;
	height:auto !important;
	margin:0 auto;
}

.gbtr_product_slider_wrapper, .gbtr_items_slider_wrapper{
	max-width: 1100px;
}

.gbtr_items_slider li{
	width: 30%;
}

.gbtr_items_slider .my_product_description{
	width: 60%;
}
.gbtr_items_slider .image_container{
	width: 30%;
}

.gbtr_light_footer_wrapper, .gbtr_light_footer_no_widgets{
	display: none;
}
.mybutton_product_type_variable {
	background-color: #dcca00 !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
    color: #000 !important;
    display: inline-block;
    float: right;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 30px !important;
    text-transform: uppercase;
}

.product_item .price{
	font-weight: bold;
	font-size: 24px;
	position: relative;
    top: 12px;
}

.gbtr_footer_widget_credit_cards{
	width: auto;
	float: right;
}

.out_of_stock{
	color: red;
}

.slider .product_item{
	min-height: 440px;
}
.gbtr_items_slider{
	height: 450px;
}

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message{
	padding-left: 5.5em !important;
	text-shadow: 0 0 !important;
}

.showcoupon{
	color: #fff;
}

#ship-to-different-address{
	padding-right: 50px;
	display: block;
	width: 100%;
}

table.shop_table a.remove, .woocommerce table.shop_table a.remove{
	background: none;
	background: url("images/sprites.png") no-repeat scroll -200px 0;
}
#contact_page .content_grid_6{
	width: 530px;
}

.gbtr_my_account_wrapper{
	max-width: 100%;
}

.gbtr_my_account_wrapper .variation{
	display: none;
}

.category_header h1.page-title{
	margin-right: 250px;
}
/*

*/
@media screen and (max-width: 959px) {
	.listing_products {
		width:300px;
	}
}
@media screen and (min-width: 960px) {
	.home_page{
		background-color: #fff;
	    padding-top: 0 !important;
	    width: 1200px !important;
	}
	.home_page .grid_12{
		width: 1180px !important;
	}
	.home_page .content_grid_4 {
	    float: left;
	    margin-left: 40px;
	    margin-right: 46px;
	    width: 300px;
	}
	.home_page .content_wrapper {
	    width: 1160px;
	}
	.container_12{
		width: 1100px;
	}
	body{min-width:960px}
	.container_12{margin-left:auto;margin-right:auto;width:1100px}
	.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}
	.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11{position:relative}
	.alpha{margin-left:0}
	.omega{margin-right:0}
	.container_12 .grid_1{width:60px}
	.container_12 .grid_2{width:140px}
	.container_12 .grid_3{width:220px}
	.container_12 .grid_4{width:300px}
	.container_12 .grid_5{width:380px}
	.container_12 .grid_6{width:460px}
	.container_12 .grid_7{width:540px}
	.container_12 .grid_8{width:620px}
	.container_12 .grid_9{width:700px}
	.container_12 .grid_10{width:780px}
	.container_12 .grid_11{width:860px}
	.container_12 .grid_12{width:1100px}
	.container_12 .prefix_1{padding-left:80px}
	.container_12 .prefix_2{padding-left:160px}
	.container_12 .prefix_3{padding-left:240px}
	.container_12 .prefix_4{padding-left:320px}
	.container_12 .prefix_5{padding-left:400px}
	.container_12 .prefix_6{padding-left:480px}
	.container_12 .prefix_7{padding-left:560px}
	.container_12 .prefix_8{padding-left:640px}
	.container_12 .prefix_9{padding-left:720px}
	.container_12 .prefix_10{padding-left:800px}
	.container_12 .prefix_11{padding-left:880px}
	.container_12 .suffix_1{padding-right:80px}
	.container_12 .suffix_2{padding-right:160px}
	.container_12 .suffix_3{padding-right:240px}
	.container_12 .suffix_4{padding-right:320px}
	.container_12 .suffix_5{padding-right:400px}
	.container_12 .suffix_6{padding-right:480px}
	.container_12 .suffix_7{padding-right:560px}
	.container_12 .suffix_8{padding-right:640px}
	.container_12 .suffix_9{padding-right:720px}
	.container_12 .suffix_10{padding-right:800px}
	.container_12 .suffix_11{padding-right:880px}
	.container_12 .push_1{left:80px}
	.container_12 .push_2{left:160px}
	.container_12 .push_3{left:240px}
	.container_12 .push_4{left:320px}
	.container_12 .push_5{left:400px}
	.container_12 .push_6{left:480px}
	.container_12 .push_7{left:560px}
	.container_12 .push_8{left:640px}
	.container_12 .push_9{left:720px}
	.container_12 .push_10{left:800px}
	.container_12 .push_11{left:880px}
	.container_12 .pull_1{left:-80px}
	.container_12 .pull_2{left:-160px}
	.container_12 .pull_3{left:-240px}
	.container_12 .pull_4{left:-320px}
	.container_12 .pull_5{left:-400px}
	.container_12 .pull_6{left:-480px}
	.container_12 .pull_7{left:-560px}
	.container_12 .pull_8{left:-640px}
	.container_12 .pull_9{left:-720px}
	.container_12 .pull_10{left:-800px}
	.container_12 .pull_11{left:-880px}
	.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
	.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
	.clearfix:after,.container_12:after{clear:both}
	.clearfix,.container_12{zoom:1}
	
	
}

@media screen and (max-width: 959px) {
	
}