<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MidasWebsiteConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MidasWebsiteConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MidasWebsiteConsole.Properties.Settings>
      <setting name="ObjectOptions" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StockOptions" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PriceOptions" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxRowCount" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="WS_UserName" serializeAs="String">
        <value>USERNAME</value>
      </setting>
      <setting name="ConnString" serializeAs="String">
        <value>server=SERVER;database=DATABASE;Integrated Security=False;User=USER;pwd=PASSWORD;Application Name=B2C;</value>
      </setting>
      <setting name="WS_Password" serializeAs="String">
        <value>PASSWORD</value>
      </setting>
    </MidasWebsiteConsole.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MidasWebsiteConsole.Properties.Settings>
      <setting name="MidasWebsiteConsole_MidasOrderService_MidasOrderService"
          serializeAs="String">
        <value>http://www.cam-systems.co.uk/WebsiteToMidasService/Service.asmx</value>
      </setting>
    </MidasWebsiteConsole.Properties.Settings>
  </applicationSettings>
</configuration>